# Example .env for backend
# Replace <PASSWORD> with your MongoDB user password and set any options as needed
MONGO_URL=mongodb+srv://Muhusin-16:<PASSWORD>@cluster0.jrhwim3.mongodb.net/quiz_app?retryWrites=true&w=majority
# Optional override for database name
# MONGO_DBNAME=quiz_app
